<div class="container">
    <div class="my-5" id="formContainer">
        <h1>Please Enter the form Below to contact cNotebook Admin</h1>
        <form class="form-control" action="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Enter Your Email Address Here">
                <label for="floatingInput">Email Address</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Please Let us know what is your query"
                    id="floatingTextarea2" style="height: 200px"></textarea>
                <label for="floatingTextarea2">Describe your issue here</label>
            </div>
            <button class="btn container-fluid mt-2 btn-outline-primary">Submit</button>
        </form>
    </div>
</div>
