<div class="container">
    <div class="my-5" id="formContainer">
        <h1>You can Easily Add a Note below</h1>
        <form class="form-control" action="">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter The Title Of your note">
                <label for="floatingInput">The Note Title</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"
                    placeholder="Enter The Tag of your note here">
                <label for="floatingInput">The Note Tag</label>
            </div>
            <p>Leave Blank for "general" as the tag</p>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Enter The Note Description Here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Enter The Main Note Content Below</label>
            </div>
            <button class="btn container-fluid mt-2 btn-outline-primary">Add Note</button>
        </form>
    </div>
</div>
